version: '3.8'
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
    volumes:
      - /mnt/sda1/media-mounts/jellyfin/jellyfin-config:/config
      - /mnt/sda1/media-mounts/jellyfin/jellyfin-cache:/cache
      - /mnt/sda1/media-mounts/media:/media
