services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - AUTO_UPDATE=true #optional
      - RUN_OPTS= #optional
    volumes:
      - /mnt/sda1/media-mounts/jackett-config:/config
      - /mnt/sda1/media-mounts/media/downloads:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    networks:
      - media-network

networks:
  media-network:
    external: true
